.stand{
    box-sizing: border-box;
    background-color: #eee;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 35px;
    margin-top: 30px;
    border-radius: 5px;
}
form {
    display: flex;
    justify-content: space-between;
}
.btn{
    color: white;
    background-color: #1b522a;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}
.inpt {
    border-radius: 5px;
    border: none;
    width: calc((100% - 125px) / 1);
    padding: 18px 0;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
}
.inpt:focus{
    border: none;
    outline: none;
}
ul li {
    display: flex;
    justify-content: space-between;
    padding: 13px 20px;
    list-style: none;
    background-color: white;
    font-size: 30px;
    border-radius: 5px;
}
ul li:not(:first-child) {
    margin-top: 10px;
    border-radius: 5px;
}
ul li button{
    color: black;
    background-color: red;
    border-radius: 30px;
    border: none;
    width: 33px;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.5s;
}
ul li button:hover{
    transform: rotate(360deg);
}
@media (max-width: 700px) {
    .btn{
        padding: 0px 12px;
    }
    .inpt {
        border-radius: 5px;
        border: none;
        width: calc((100% - 105px) / 1);
        padding: 16px 0;
        padding-left: 20px;
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .stand{
        width: 90%;
    }
}